{% extends "base.html" %}

{% block content %}

<div class="container">


    <div class="col s12 m7 l10 offset-l1">

        <h4>{{ headline }}</h4>

        {% for obj in object_list %}

            <div class="card hoverable">

                <div class="card-image">
                    <img src="{{obj.url_to_image}}">
                </div>

                <div class="card-content">
                    <blockquote>
                        <span class="card-title activator grey-text text-darken-4">
							{{ obj.title }}
							<i class="material-icons right">more_vert</i>
						</span>
                    </blockquote>
                    <p class="flow-text small">{{ obj.description }}</p>
                    <p class="small teal-text right">{{ obj.natural_time }}</p>
                </div>

                <div class="card-reveal">
      				<span class="card-title grey-text text-darken-4">Rake Analysis
						<i class="material-icons right">close</i>
					</span>
      				<p>TODO: Here is the summary of the Rake analysis...</p>
                    <div class="card-content">
                        <div class='col-sm-6'>
                             <canvas id="myChart" width="400" height="400"></canvas>
                             <canvas id="myChart2" width="400" height="400"></canvas>
                        </div>
                    </div>

    			</div>

                <div class="card-action center-align">

                    <a href={{obj.url}} 
                        class="waves-effect waves-light btn-large pink">READ</a>
                    <br/></br/>

                    {% comment %}
                        Showing images in carousel and extracted key phrases
                    {% endcomment %}

                    {% if obj.source == "techcrunch" %}

                        {% if obj.photo_urls|length > 1 %}
                            <div class="carousel slide arrow center cyan darken-1" data-indicators="true">
                                {% for pu in obj.photo_urls %}
                                    {% load static %}
                                    <a class="carousel-item" href="#one!"><img style="width:120%" src={% static pu %} /></a>
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% if obj.extracted_text|length > 0 %}
                            <div class="card-content cyan darken-1 flow-text small">
                                <h5 class="gray-text">Inside This Article</h5>
                                <p class="flow-text small gray-text">{{ obj.extracted_text }}</p>
                            </div>

                        {% endif %}

                    {% endif %}

                </div>
          </div>

        {% endfor %}

    </div>
</div>


<script>

    {% block jquery %}

        var endpoint = "/api/textscores/data/";
        var defaultData = [];
        var labels = [];

        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                labels = data.labels
                defaultData = data.default
                setChart()
            },
            error: function(error_data){
                console.log("error")
                console.log(error_data)
            }
        })

        function setChart() {

            var ctx = document.getElementById("myChart");
            var ctx2 = document.getElementById("myChart2");
            var graph = {

                type: 'polarArea',

                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(35, 128, 128, 0.2)',
                            'rgba(20, 255, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(35, 128, 128, 1)',
                            'rgba(20, 255, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            }
            //new Chart(ctx2, graph);

            new Chart( ctx, {

                type: 'polarArea',

                data: {
                    labels: labels,
                    datasets: [{
                        label: '# of Votes',
                        data: defaultData,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)',
                            'rgba(35, 128, 128, 0.2)',
                            'rgba(20, 255, 255, 0.2)',
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)',
                            'rgba(35, 128, 128, 1)',
                            'rgba(20, 255, 255, 1)',
                        ],
                        borderWidth: 1
                    }]
                },

                options: {
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            });
        }

    {% endblock %}

</script>

{% endblock content %}
