
{% include 'material/includes/material_css.html' %}
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
{% include 'material/includes/material_js.html' %}

<nav>
	<div class="nav-wrapper pink">

        <a href="#" class="brand-logo" >
            {% load static %}
            <img src="{% static "news/kmp-logo.png" %}" 
                style="height:40px;width:40px;margin:10px;padding:10px auto;"
                alt="Keep Me Posted Logo"/>
        </a>

		<a href="#" data-activates="mobile-demo" class="button-collapse">
            <i class="material-icons">menu</i></a>

		<ul class="right hide-on-med-and-down">
            <li><a href={% url "news:general-article-list" %}>Home</a></li>
            <li><a href={% url "news:sports-article-list" %}>Sports</a></li>
            <li><a href={% url "news:finance-article-list" %}>Finance</a></li>
            <li><a href={% url "news:tech-article-list" %}>Tech</a></li>

            <li class="cyan darken-4"><a href={% url "signup" %}>
                    <span class="white-text">Sign Up</span></a></li>
            <li class="cyan darken-4"><a href={% url "login" %}>
                    <span class="white-text">Login</span></a></li>
            <li class="cyan darken-4"><a href={% url "logout" %}>
                    <span class="white-text">Logout</span></a></li>
		</ul>

		<ul class="side-nav" id="mobile-demo" >
            <li><a href={% url "news:general-article-list" %}>
                    <span class="light-blue-text">Home</span></a></li>
            <li><a href={% url "news:finance-article-list" %}>
                    <span class="light-blue-text">Finance</span></a></li>
            <li><a href={% url "news:sports-article-list" %}>
                    <span class="light-blue-text">Sports</span></a></li>
            <li><a href={% url "news:tech-article-list" %}>
                    <span class="light-blue-text">Tech</span></a></li>

            <li class="cyan darken-4"><a href={% url "signup" %}>
                    <span class="white-text">Sign Up</span></a></li>
            <li class="cyan darken-4"><a href={% url "login" %}>
                    <span class="white-text">Login</span></a></li>
            <li class="cyan darken-4"><a href={% url "logout" %}>
                    <span class="white-text">Logout</span></a></li>
		</ul>


	</div>
</nav>


<body class="s12 m12 l12 grey lighter-2">

    {% block content %}
    {% endblock content %}

</body>

<footer class="page-footer cyan darken-4">
	<div class="container">
		<div class="row">
			<div class="col l6 s12">
				<h5 class="white-text">Credits</h5>
				<p class="grey-text text-lighten-4 text-flow">
					News API is a simple and easy-to-use API that returns JSON metadata for the headlines currently published on a range of news sources and blogs (70 and counting so far).
				</p>
				<p class="grey-text text-lighten-4 text-flow">
					Journal graphic by <a href="http://www.flaticon.com/authors/freepik">Freepik</a> from <a href="http://www.flaticon.com/">Flaticon</a> is licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a>. Made with <a href="http://logomakr.com" title="Logo Maker">Logo Maker</a>
				</p>
			</div>
			<div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">www.newsapi.org</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Material Design</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">https://logomakr.com/</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
                </ul>
			</div>
		</div>
    </div>

    <div class="footer-copyright">
    	<div class="container">
			© 2017 Copyright
			<a class="grey-text text-lighten-4 right" href="#">More Links</a>
		</div>
    </div>

</footer>


<script>
    $(".button-collapse").sideNav();
    $('.carousel').carousel();
    //$('.carousel.carousel-slider').carousel({full_width: true});
</script>
