
{% include 'material/includes/material_css.html' %}
{% include 'material/includes/material_js.html' %}

<nav>
	<div class="nav-wrapper pink">
		<a href="#" class="brand-logo">Logo</a>

		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="#">Sports</a></li>
            <li><a href="#">Finance</a></li>
            <li><a href="#">General</a></li>
            <li><a href="#">HackerNews</a></li>
		</ul>

	</div>
</nav>

<h1>Keep Me Posted</h1>



{% block content %}
{% endblock content %}
