

{% extends "base.html" %}

{% block content %}

<div class="container layout-padding flex">
    <div class="row">
        <div class="white card col l6 m6 s6 offset-l3">

            <h5>{{ title }}</h5>

            {% if credential %}
                <p>{{ credential }}</p>
            {% endif %}

            <hr/>

            <form method="POST" action="" enctype="multipart/form-data">{% csrf_token %}
                {{ form }}
                <input type="submit" class="btn btn-default" value="{{ title }}" />
            </form>

        </div>
    </div>
</div>

{% endblock content %}


